$--line-color: #dcdfe6 !default;
.element-tree-node-label-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
}
.element-tree-node-label {
    font-size: 12px;
}
.element-tree-node-line-ver {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-left: 1px dashed $--line-color;
    &.last-node-line {
        border-left: 1px dashed transparent;
    }
    &.last-node-isLeaf-line {
        height: 50%;
    }
}
.element-tree-node-line-hor {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 0;
    border-bottom: 1px dashed $--line-color;
}
.element-tree-node-label-line {
    flex: 1;
    border-top: 1px dashed $--line-color;
    align-self: center;
    margin: 0 10px;
}
